@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Lobster&subset=latin-ext');

body { 
    background-image: url("http://goldwallpapers.com/uploads/posts/background-simple/background_simple_008.jpg");
    background-size: cover;
    font-family: 'Dancing Script', cursive;
}

.container-fluid {
    margin: 0 auto;
    max-width: 700px;
}

.header {
    text-align: right;
}

.header .button {
    display: inline-block;
    border: solid 3px pink;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: whitesmoke;
    text-decoration: none;
}

.header h1 {
    float: left;
    font-size: 50px;
}

.content {
    clear: left;
}

.content .inline-block li {
    display: inline-block;
    text-align: center;
    height: 100px;
    width: 80px;
    border: solid 3px pink;
    background-color: whitesmoke;
    
}

.content img {
    max-width: 150px;
    float: left;
    padding-right: 20px;
}

.flex-container {
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-end;
}

.flex-container .flex-item, .flex-item1, .flex-item2 {
    padding: 50px;
    width: 80px;
    height: 80px;
    background-color: pink;
    text-align: center;
    border: solid 2px whitesmoke;
}

.flex-container .flex-item1 {
    flex: 1 1 20em;
}

.flex-container .flex-item2 {
    flex-grow: 4;
}

.flex-container2 {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
}

.flex-container2 .item1, .item2, .item3 {
    background-color: pink;
    text-align: center;
    border: solid 2px whitesmoke;
    text-align: center;
    margin: 5px;
}

.flex-container2 .item1 {
    width: 40px;
    height: 60px;
}

.flex-container2 .item2 {
    width: 50px;
    height: 70px;
}

.flex-container2 .item3 {
    width: 30px;
    height: 50px;
}


